doctype html
html
    head
        meta(charset='UTF-8')
        title Welcome to login
        link(rel='shortcut icon', href='/content/dash/icon/favicon.ico')
        link(rel='stylesheet', href='/build/auth/css/style.min.css')
    body
        This is error page