.activity-layout {
  display: flex;
  padding: 15px 0 0 0;
  & > form:nth-child(1) {
    margin: 0 20px 0 0;
  }
}

.activity-table {
  border-collapse: collapse;
  td {
    border: 1px solid #cfcfcf;
    padding: 0px;
    span {
      margin: 5px;
    }
    &:nth-child(1) {
      min-width: 90px;
    }
  }
  tr {
    & > td:nth-child(1) {
      font-size: 0.7em;
      padding: 0 5px;
    }
  }
}

.nav-form {
  input[type="submit"] {
    width: 100%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .activity-layout {
    display: block;
    padding: 0;
    & > form:nth-child(1) {
      margin: 0 0 10px 0;
    }

    // mostly modify from global value
    .activity-chkbox-group {
      & > div {
        display: inline-block;
        width: 48%;
        label {
          width: 110px;
        }
      }
    }
  }
}
